*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headertop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    background-color: rgb(246, 215, 164);
    padding-bottom: 0.5rem;
    
}
.headertop img{
    width: 4%;
}

.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 1rem;
    background-color: rgb(249, 243, 233);
}
header{
    top: 0;
    left: 0;
    width: 100%; 
    position: sticky;
}
#booknow{
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(26, 26, 110);
    color: white;
    border-radius: 0.3rem;
}
#headercentre{
    text-decoration: none;
    color: black;
    display: none;
    padding:1rem 1rem;    
}
#mainimage{
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: rgb(47, 46, 46);
}
#paraheading{
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(47, 46, 46);
    margin-left: 3rem;
    margin-right: 3rem;
    width: 100%;
    display: none;
}
.card{
    width: 100%;
    height: 100%;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    .headertop img{
        width: 3%;
    }
    .main{
        font-size: 17px;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    .headertop img{
        width: 2%;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    .headertop img{
        width: 2%;
    }
    #headercentre{
        display: flex;
    }
    #menu{
        display: none;
    }
    .main{
        font-size: 19px;
    }
#paraheading{
display: flex;
}
#para{
    display: flex;
}
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .headertop img{
        width: 1%;
    }
   
}